body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
}

header {
	position: fixed;
	z-index: 4;
	top: 0;
	width: 100%;
	height: 90px;
	line-height: 90px;
}

header .titulo {
	position: relative;
	float: left;
	margin: 0 40px;
	font-weight: 400;
	font-size: 50px;
	color: #212121;
}

.downloadFAB {
	background-color: #018786;
	display: inline-flex;
	position: fixed;
	z-index: 5;
	cursor: pointer;
	top: 66px;
	right: 30px;
	align-items: center;
	line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-transform: uppercase;
  color: white;
	padding: 0 20px;
	width: auto;
	max-width: 100%;
	height: 48px;
	border-radius: 24px;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.downloadFAB__action {
	margin-left: -8px;
	margin-right: 12px;
	width: 24px;
	height: 24px;
}

main {
	position: fixed;
	z-index: 3;
	overflow: hidden;
	overflow-y: scroll;
	top: 90px;
	bottom: 50px;
	width: 100%;
}

.divider {
	position: relative;
	float: left;
	width: 100%;
	height: 1px;
	background-color: #e0e0e0;
}

.seccion {
	position: relative;
	float: left;
	box-sizing: border-box;
	margin: 16px;
}

.card {
	position: relative;
	float: left;
	box-sizing: border-box;
	padding: 16px;
	margin: 8px;
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
}

.card__content {
	position: relative;	
	float: left;		
	clear: both;
	margin: 10px;
	box-sizing: border-box;
}

.card__content__titulo {
	position: relative;
	float: left;
	margin-right: 16px; 
	font-size: 24px;
	color: #212121;
}

.card__content__desc {
	position: relative;
	clear: left;
	float: left;
	font-size: 14px;
	color: #666666;
}

.card__content__img {
	position: relative;
	overflow: hidden;
	float: right;
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

.card__content__img img {
	width: 100%;
	height: auto;
}

.card__content__contact {
	display: inline-grid;
	grid-template-columns: auto auto;
	float: left;	
	margin: 5px 10px;
	box-sizing: border-box;
	color: #666666;
}

.card__content__contact__item {
	float: left;
	padding: 5px;
	height: 30px;
}

.card__content__contact__item__icon {
	float: left;
	margin-top: 3px;
}

.card__content__contact__item__desc {
	float: left;
	height: 20px;
	margin-top: 5px;
	margin-left: 5px;
}

.card__content__social {
	display: inline-grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
	float: left;
	margin-top: 5px;
	box-sizing: border-box;
}

.card__content__social__item {
	cursor: pointer;
	float: left;
	padding: 5px 0;
	margin:0 50px;
}

.card__content_item {
	clear: both;
	float: left;
	box-sizing: border-box;
	margin: 16px 10px 5px;
}

.card__content_item_name {
	float: left;
	clear: both;
	margin-top: 0;
	margin-bottom: 2px;
}

.card__content_item_name strong {
	font-weight: 500;
}

.card__content_item_det {
	clear: both;
	float: left;
	margin: 5px 10px 0 10px;
	max-width: 500px;
	color: #666666;
}

footer {
	position: fixed;
	z-index: 4;
	box-sizing: border-box;
	padding: 5px;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #f1f3f4;
}

.pie {
	float: left;
	width: 100%;
	height: 100%;
	color: grey;
	line-height: 40px;
}

.pie__year {
	float: left;
	margin: 0 10px;
}

.pie__tecs {
	float: left;
	margin: 0 10px;
}