body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFFFF;
}

header {
	position: fixed;
	z-index: 4;
	display: inline-grid;
	grid-template-columns: 10%;
	grid-template-rows: 70px 40px;
	height: 110px;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}

header .titulo {
	grid-column: 1 / 11;
  grid-row: 1;
	padding: 0 0 0 40px;
	font-weight: 400;
	font-size: 30px;
	color: #5f6368;
}

header .tabs {
	grid-column: 1 / 11;
  grid-row: 2;
  display: inline-grid;
  grid-template-rows: 40px;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.tabs__tab {
	cursor: pointer;
}

.tabs__tab:hover span{
	color: #018786;
}

.tabs__tab:active {
	background-color: rgba(1, 135, 134, 0.2);
}

.tabs__tab--active {
	color: #018786;
}

.tabs__tab span {
	float: left;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  padding: 0 25%;
  font-weight: 500;
  color: #5f6368;
}

.tabs__tab span::after {
	float: left;
	content: "";
	height: 3px;
	width: 100%;
	margin-top: 5px;	
  border-radius: 3px 3px 0 0;
  background-color: #018786;
}

.tabs__inicio {
	grid-column: 1 / 2;
}

.tabs__exp {;
	grid-column: 2 / 4;
}

.tabs__skills {
	grid-column: 4 / 6;
}

/*.indicador_inicio, .indicador_exp, .indicador_skills {
	visibility: hidden;
}

.tabs__indicador {
	float: left;
	height: 3px;
	width: 50%;
	margin: 5px 0 0 25%;
	border-radius: 3px 3px 0 0;
	background-color: #018786;
}*/

.divider {
	position: relative;
	float: left;
	grid-column: span 10;
	width: 100%;
	height: 1px;
	background-color: #e0e0e0;
}

main {
	position: fixed;
  top: 110px;
  bottom: 0;
  width: 100%;
  background-color: #F9F9F9;
}

.seccion {
	position: relative;
	float: left;
	box-sizing: border-box;
	margin: 10px;
}

.card {
	position: relative;
	float: left;
	box-sizing: border-box;
	padding: 16px;
	margin: 8px;
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
}

.card__content {
	position: relative;	
	float: left;		
	clear: both;
	margin: 10px;
	box-sizing: border-box;
}

.card__content__titulo {
	position: relative;
	float: left;
	margin-right: 16px; 
	font-size: 24px;
	color: #212121;
}

.card__content__desc {
	position: relative;
	clear: left;
	float: left;
	font-size: 14px;
	color: #666666;
}

.card__content__img {
	position: relative;
	overflow: hidden;
	float: right;
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

.card__content__img img {
	width: 100%;
	height: auto;
}

.card__content__contact {
	display: inline-grid;
	grid-template-columns: auto auto;
	float: left;	
	margin: 5px 10px;
	box-sizing: border-box;
	color: #666666;
}

.card__content__contact__item {
	float: left;
	padding: 5px;
	height: 30px;
}

.card__content__contact__item__icon {
	float: left;
	margin-top: 3px;
}

.card__content__contact__item__desc {
	float: left;
	height: 20px;
	margin-top: 5px;
	margin-left: 5px;
}

.card__content__social {
	display: inline-grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
	float: left;
	margin-top: 5px;
	box-sizing: border-box;
}

.card__content__social__item {
	cursor: pointer;
	float: left;
	padding: 5px 0;
	margin:0 50px;
}

.card__content_item {
	clear: both;
	float: left;
	box-sizing: border-box;
	margin: 16px 10px 5px;
}

.card__content_item_name {
	float: left;
	clear: both;
	margin-top: 0;
	margin-bottom: 2px;
}

.card__content_item_name strong {
	font-weight: 500;
}

.card__content_item_det {
	clear: both;
	float: left;
	margin: 5px 10px 0 10px;
	max-width: 500px;
	color: #666666;
}

.downloadFAB {
	display: inline-flex;
	position: fixed;
	z-index: 5;
	cursor: pointer;
	bottom: 30px;
	right: 30px;
	align-items: center;
	line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-transform: uppercase;
  color: white;
	padding: 0 20px;
	width: auto;
	max-width: 100%;
	height: 48px;
	border-radius: 24px;
	background-color: #018786;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.downloadFAB__action {
	margin-left: -8px;
	margin-right: 12px;
	width: 24px;
	height: 24px;
}

.tooltiptext {
	position: fixed;
	z-index: 5;
  visibility: hidden;
  bottom:83px;
  right: 56px;
  box-sizing: border-box;
  padding: 8px;
  max-width: 170px;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
	line-height: 14px;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-transform: none;
  border-radius: 2px;
  background-color: #616161e6;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*footer {
	position: fixed;
	z-index: 4;
	box-sizing: border-box;
	padding: 5px;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #f1f3f4;
}

.pie {
	float: left;
	width: 100%;
	height: 100%;
	color: grey;
	line-height: 40px;
}

.pie__year {
	float: left;
	margin: 0 10px;
}

.pie__tecs {
	float: left;
	margin: 0 10px;
}*/